<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- 
          * Valid Settings: 
          *     SQLite In-Memory = 1
          *     SQL Local DB = 2
          *     SQL Server = 3 (Should be no difference then option 2)
          *     SQL CE = 4 (Not supported yet)
          *     MySQL = 5 (Not supported yet)
          *     Oracle = 6 (Not supported yet)
          *     Postgres = 7 (not supported yet)
          -->
    <add key="TestDBType" value="3" />
    <add key="TestDBConnectionString" value="Server=localhost;Trusted_Connection=True;"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>