<?xml version="1.0"?>
<configuration>
    <appSettings>
        <!-- 
          * Valid Settings: 
          *     SQLite In-Memory = 1
          *     SQL Local DB = 2
          *     SQL Server = 3 (Should be no difference then option 2)
          *     SQL CE = 4 (Not supported yet)
          *     MySQL = 5 (Not supported yet)
          *     Oracle = 6 (Not supported yet)
          *     Postgres = 7 (not supported yet)
          -->
        <add key="TestDBType" value="2"/>
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
