<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- 
          * Valid Settings: 
          *     SQLite In-Memory = 1
          *     SQL Local DB = 2
          *     SQL Server = 3 (Should be no difference then option 2)
          *     SQL CE = 4 (Not supported yet)
          *     MySQL = 5 (Not supported yet)
          *     Oracle = 6 (Not supported yet)
          *     Postgres = 7 (not supported yet)
          *     Firebird = 8 
          -->
    <add key="TestDBType" value="2"/>
  </appSettings>

  <system.data>
    <DbProviderFactories>

      <!-- Firebird -->
      <remove invariant="FirebirdSql.Data.FirebirdClient"/>
      <add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".Net Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient"/>

    </DbProviderFactories>
  </system.data>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
